<!DOCTYPE html>
<html lang="en"> 
    <head>
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="../sideBar.css">
        <title>Blog Posts</title>
    </head>

    <body>
        <div class="formatGrid" z-index="-2">
                <h1 id="Blog">
                    <div class="Headertext">
                        <title>Blog Posts</title>
                    </div>
                </h1>
            <div id="sideCol">
                <div id="LeButtons">
                    <ul>
                    <li><a z-index="4" href="../index.html"><strong>Home</strong></a></li>
                    <li><a z-index="4" href="Blog.html"><strong>Blog Posts</strong></a></li>
                    </ul>
                </div>
            </div>
            <div id="body">
                <p style="justify-self: center;"><strong></strong></p>
                <p style="justify-self: center;"><strong></strong></p>
                <p><br></p>
                <div style="justify-self: center;">
                    <div style="text-align:center">
                        <img style="justify-self:center;;width:15vw; height:auto" src="">
                    </div>
                </div>
            </div>
        </div>
        <footer>
        </footer>
    </body>
</html>


